﻿body {
    padding-top: 50px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

li.nav-item-group, li.nav-item-group a {
    font-weight: bold;
}

.footer-content {
    margin-top: 30px;
    background-color: #eee;
}

.footer-content hr {
    border-color: #ddd;
}
